@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media (min-width: 1245px) {
    .container-fluid{
      width: 1240px;
    }
    .search-bar{
        width: 1270px;
    }
}
body{
    margin:0;
    font-family:'Roboto', 'sans-serif';
    width: 100%;
    box-sizing: border-box;
}

header {
    margin-top: 42px;
}
main {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.form-control{
    height: 69px;
    font-size: 18px;
    font-weight: 400;
    
    background-color: #E7E7E7;
    
}
.form-control-feedback{
    position: absolute;
    top: 25%;
    right: 3%;
    font-size: 32px;
}

.form-control-feedback:hover {
    cursor: pointer;
}

.btn{
  height: 69px;
  line-height: 50px;
  font-family: "Lato";
  font-size: 18px;
  padding-left: 25px;  
}

.card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background-color: #E7E7E7;
    margin-bottom: 2rem;
    height: 364px;
    width: 380px;
    position: relative;
    
}

.paragraphe-bloc{
    font-family: 'Roboto';
    height: 72px;
    width: 171px;
    margin-left: 191px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 12px;
    margin-top: 20px;
    cursor: pointer;
   
}

span{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
}
h5{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
margin-left: 20px;
}

.text-right {

    
margin-left: 100px;
position: absolute;
right: 20px;
top: 198px;
}

.card-title {
    width: 210px;
    height: 22px;
    margin-top: 20px;
    margin-left: 10px;
    
}

i{
    position: absolute;
    left: -25px;
    width: 20px;
    height:20px;
    top: 4px;
}

#item{
   font-family: 'Lato';
   font-size: 12px;
   height: 14px;
}
.item-list {
    position: absolute;
    bottom: 45px;
    left: 10px;
}
.item-quantity{
    font-family: 'Lato';
   font-weight: 400;
   font-size: 12px;
   display: inline;
}

.recipes-border {
    margin-top: 20px;
}
.fa-solid{
    position: absolute;
    left: 80%;
    top: 35%;
    cursor: pointer;
    color: white;
}
.input-cursor {
  left: 125%;
}

.rotate{
    transform :rotate(180deg);
    transition: 0.4s;
}
.dropdown-toggle::after{
    border-right: 0;
    border-top: 0;
}
#ingredients-select {
    
    background-color: #3282F7;
    color: white;
    font-family: 'Lato';
    border: #3282F7;
    height: 69px;
    width: 170px;
    border-radius: 5px;
    padding-left: 10px; ;
    cursor: pointer;
    position: relative;
    
}

#appareils-select {
    background-color: #68D9A4;
    border: #68D9A4;
    color:white;
    font-family: 'Lato';
    height: 69px;
    width: 170px;
    border-radius: 5px;
    padding-left: 10% ;
    cursor: pointer;

}

#ustensiles-select {
    color:white;
    font-family: 'Lato';
    height: 69px;
    width: 170px;
    border-radius: 5px;
    padding-left: 10% ;
    cursor: pointer;
    background-color: #ED6454;
    border: #ED6454;
}

::placeholder {
  opacity: 1;
  
}

datalist {
    position: absolute;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
  
  }
  
  option {
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
     font-size: 18px;
    cursor: pointer;
  }
  option:hover, .active{
    background-color: lightblue;
  }

  input span {
    font-size: 200px;
  }

  li {
    list-style-type: none;
    color: white;
    }
    li:hover {
        cursor: pointer;
    }
  .dropdown-menu {
    background-color: #3282F7;
    
    width: 667px;
    margin-top: 75%;
    height: 367px;
    border: none;
    border-radius: 0px 0px 5px 5px;
    
    flex-direction: column;
    
  }

  a {
    color: white;
  }
  .float {
    width: 210px;
    margin: 2px;
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
  }
  
  .appareils-dropdown {
    
    background-color: #68D9A4;    
    width: 100%;
    margin-top: -4px;
    margin-left: 0%;
    border:  #68D9A4;  
    border-radius: 0px;
  }
  .ustensiles-dropdown {
    background-color: #ED6454;    
    width: 100%;
    margin-top: -4px;
    margin-left: 0%;
    border:  #68D9A4;  
    border-radius: 0px;
  }
  #appareils-select {
    border: #68D9A4;
  }

  .bluetag {
    background-color: #3282F7;
    color: white;
    display:inline;
    height: 37px;
    
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 35px;
    border-radius: 5px;
    margin: 3px;
    position: relative;
  }

  .toggle-input {
    width: 667px !important;
    margin-right: 55%;
  }

  .col-5{
    margin-right: 15%;
    
  }
 
  .sort-field{
    padding: 30px;
  }

  .fa-circle-xmark {
    position: absolute;
    left: 80%;
    top: 35%;

  }